!!!
%html
  %head
    %title Feedbackr
    = stylesheet_link_tag :all
    = csrf_meta_tag 

  %body
    = yield

    = javascript_include_tag 'jquery/jquery-1.4.2.min'
    = javascript_include_tag :all, :cache => true
